.container {
    height: 128px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.logo {
    width: 80px;
    height: 80px;
}

.partner_logo {
    height: 40px;
}

.cross {
    width: 26px;
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 100;
    font-size: 16px;
    color: #888;
    margin-top: 6px;
    border:1px solid #888;
    padding: 16px;
    margin-left: 32px;
}