.container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 960px;
    height: 540px;
    margin-left: -480px;
    margin-top: -220px;
    background-color: #222;
}

.other_player {
    width: 180px; 
    height: 100px;
    position: absolute;
    right: 20px;
    bottom: 20px; 
}